
body {
  margin: 0;
  padding: 0;
  min-width: 960px;

  font-family: 'Cuprum',"Tahoma",  sans-serif;
  font-size: 17px;
  line-height: 28px;

  color: #000000;
  background: #f1f5f7;
}

h1 {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
}

h3 {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

p{
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.main-header {
  padding-bottom: 65px;
}

.header-top {
  color: #ffffff;
  background-color: #293449;
}

h1,
.footer-contacts h2 {
  float: left;
  width: 220px;
  height: 42px;

  background: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

h1:hover,
.footer-contacts h2:hover {
  background: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}


h1:active,
.footer-contacts h2:active {
  background: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.logo-link {
  display: inline-block;

  padding: 10px 55px 10px 56px;

  font-weight: normal;
  font-family: "Cuprum", "Tahoma" sans-serif;

  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.header-top-actions {
  float:left;
  max-width: 720px;
}

.search-form {
  position: relative;

  float: left;
  width: 270px;
  margin: 0;
  padding: 0;
}

.search-form input[type="search"] {
  width: 100%;
  padding: 12px 0 12px 45px;

  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;

  color: #000000;
  background: #293449;
  border: none;

  -webkit-appearance: textfield;
}

.search-form label {
  position: absolute;
  left: 18px;
  top: 12px;
  z-index: 100;

  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: 0 -31px;
  opacity: 0.3;
}


.search-form input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:-moz-placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
 }

.search-form input[type="search"]:hover {
  background-color: #212a3a;
  border: none;
  outline:none;
 }

.search-form input[type="search"]:focus {
  background-color: #ffffff;
  border: none;
  outline:none;
  -moz-box-shadow: inset 0 0 2px #ffffff;
  -o-box-shadow: inset 0 0 2px #ffffff;
  -webkit-box-shadow: inset 0 0 2px #ffffff;
}

input[type="search"]:hover+label {
  background: url("../img/sprites.png")  no-repeat;
  background-position: 0 -31px;
  opacity: 1;
}

input[type="search"]:focus+label {
  background: url("../img/sprites.png")  no-repeat;
  background-position: -52px -1px;
  opacity: 1;
}

.top-menu {
  float: left;
  font-size: 0px;
  line-height: 0px;
}

.top-menu a {
  position: relative;

  display: inline-block;
  padding: 12px 0px;

  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;

  white-space: nowrap;
}

 .top-menu .bookmarks {
  width: 105px;
  padding-left: 44px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 16px;
  top: 13px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -31px -1px;
  opacity: 0.3;
}

.bookmarks:hover {
  background: #212a3a;
}

.bookmarks:active {
  color: #a2a4a6;
  background-color: #161d29;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.5;
}

.top-menu .cart {
  width: 102px;
  padding-left: 50px;
}

.cart:hover {
 background: #212a3a;
}
.cart:active {
  background: #161d29;
}

.cart::before,
.item-buy::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  left: 16px;
  top: 13px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -3px -2px;
  opacity: 0.3;
}

.cart:hover::before,
.item-buy:hover::before,
.item-buy:active::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}


.top-menu .order{
  padding-left: 18px;
  padding-right: 23px;
  background: #71ad52;
}

.order:hover {
  background: #5fbb2d;
}

.order:active {
  background: #518534;
}

.shop-description {
  float: left;
  margin: 49px 0 40px 52px;
  width: 247px;

  font-size: 16px;
  line-height: 23px;
  text-align: left;

  color: #ee4a55;
  font-style: italic;
}

.header-contacts{
  float: left;
  width: 340px;
}

.header-contacts .phone {
  position: relative;
  margin: 46px 15px 4px 22px;
  padding: 12px 48px 14px 71px;
  border: 3px solid #fff;
  width: 144px;

  font-size: 21px;
  line-height: 15px;

  color: #e9292a;
}

.header-contacts p{
  width: 310px;
  margin-left: 31px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.phone::before{
  content: "";
  position: absolute;
  left: 12px;
  top: 10px;

  width: 19px;
  height: 19px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -128px 0;
  opacity: 1;
}

.user-block{
  float: left;
}

.login {
  position: relative;

  float: left;
  margin: 47px 10px 0 21px;
  padding: 12px 26px 14px 46px;



  font-size: 21px;
  line-height: 18px;

  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.login:hover,
.registration:hover,
.my-orders:hover,
.my-cabinet:hover {
  color: #ee3643;
}

.login:active,
.registration:active,
.my-orders:active,
.my-cabinet:active,
.loged-in:active {
  color: #cacaca;
}

.login::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 20px;
  height: 17px;

  background: url("../img/sprites.png") no-repeat;
  background-position: -50px -30px;
}

.login:hover::before {
  background-position: -77px 0;
}

.login:active::before {
  background-position: -50px -30px;
}

.registration{
  float: right;

  padding: 12px 25px 14px 23px;
  margin-top: 47px;

  font-size: 21px;
  line-height: 18px;

  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation{
  font-size: 0;

  line-height: 0;
  width: 940px;

  margin: 0 auto;

  background-color: #32425c;
  box-shadow: 0 3px 0 0 #293449
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}


.main-navigation li{
  display: inline-block;

  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 20px 30px;

  color: #fff;
  text-decoration: none;
}

.main-navigation li:first-child a{
  padding-left: 52px;
  padding-right: 35px;
}


.main-navigation a:hover {
  background: #293449;
}

.main-top {
  padding-top: 57px;
  background: #ffffff;
}

.offers {
  margin-bottom: 53px;
  width: 940px;
  height: 409px;
  font-size: 0;
  line-height: 0;
}

.offer {
  position: relative;

  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  width: 300px;
  height: 123px;

  vertical-align: top;
}

.offer h3 {
  margin: 22px 0 0 23px;
  font-size: 24px;
  line-height: 30px;

  color: #ffffff;
}

.offer a {

  display: inline-block;;
  width: 135px;
  padding: 10px 0 12px 0;
  margin: 12px  0 0 25px;
  vertical-align: middle;

  text-align: center;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;

  background-color: rgba(0,0,0,0.1);
}

.offer a:hover {
  background-color: rgba(0,0,0,0.2);
}

.offer a:active {
  background-color: rgba(0,0,0,0.3);
}

.offer:nth-child(1),
.offer:nth-child(2) {
  margin-left: 0;
  margin-right: 20px;
}

.offer:nth-child(1),
.offer:nth-child(6) {
  background-color: #f6b22d;
}

.offer:nth-child(2) {
background-color: #4aafde;
}

.offer:nth-child(3) {
  background-color: #cc79d1;
}

.offer:nth-child(5) {
  background-color: #85d179;
}

.offer:nth-child(1)::after {
  content: "";

  position: absolute;
  right: 43px;
  bottom: 27px;
  width: 44px;
  height: 65px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -8px -67.00001525878906px;
  opacity: 1;
}

.offer:nth-child(1):hover::after{
  display: block;
}

.offer:nth-child(2)::after {
  content: "";

  position: absolute;
  left: 197px;
  bottom: 27px;

  width: 75px;
  height: 61px;

  background: url("../img/sprites.png")  no-repeat;
  background-position:-60.99107360839844px -74.00001525878906px;
  opacity: 1;
}

.offer:nth-child(3)::after {
  content: "";

  position: absolute;
  left: 191px;
  bottom: 29px;

  width: 79px;
  height: 62px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -155.00001525878906px -7px;
  opacity: 1;
}

.offer:nth-child(5)::after {
  content: "";

  position: absolute;
  left: 196px;
  bottom: 25px;

  width: 59px;
  height: 71px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -260.00001525878906px -5px;
  opacity: 1;
}

.offer:nth-child(6)::after {
  content: "";

  position: absolute;
  left: 190px;
  bottom: 28px;

  width: 78px;
  height: 63px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -249.00001525878906px -97.00001525878906px;
  opacity: 1;
}

.slider {
  position: relative;

  float: left;
  margin-top: 0;
  margin-right: 20px;
  vertical-align: middle;
  width: 620px;
  height: 266px;
}

.slide-title {
  margin: 27px 0 0 24px;
  padding: 0;
}

.slide-title h2 {
  margin-bottom: 4px;

  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Cuprum", "Tahoma", sans-serif;

  text-transform: uppercase;
  color:#ffffff;
}

.slide-title span {

  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-family: "PT Sans", "Tahoma", sans-serif;

  color:#ffffff;
}

.btn {
  display: inline-block;
  padding: 10px 43px 10px 49px;

  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-open-btn {
  padding: 10px 47px 9px 49px;
  margin: 123px 0 22px 25px;

}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.slider input[type=radio], .service-slider input[type=radio]  {
  display: none;
}

.slider-controls {
  position:absolute;
  z-index: 100;
  width: 40px;
  height: 10px;
  right: 47%;
  bottom: 35px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 5px;

  cursor: pointer;
  border: 2px solid white;
  background: #ffffff;
}


.slider .left-arrow::after,
.slider .left-arrow::before,
.slider .right-arrow::after,
.slider .right-arrow::before {
  content: "";
  position: absolute;
  z-index: 30;
  top: 140px;

  display: block;
  width: 28px;
  height: 4px;

  background: #fff;
  cursor: pointer;
}

.slider .left-arrow:after {
  left: 23px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.slider .left-arrow::before {
  left: 23px;
  top: 123px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.slider .right-arrow::after {
  left: 576px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.slider .right-arrow::before{
  left: 576px;
  top: 123px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.slide2 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/sliderdrill2.jpg");
  display: none;
}

.slide1 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/sliderdrill.jpg");
  display: none;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked ~ .slider-slides .slide1,
#btn-2:checked ~ .slider-slides .slide2 {
  display: block;
}

.popular {
  font-size: 0;
  line-height: 0;
}

.popular-title {
  margin-bottom: 20px;

  background-color: #f7f3ec;
}

.popular-title h2 {
  float: left;
  margin: 31px 0 29px 28px;

  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.popular-btn {
  display: block;
  float: right;

  padding: 10px 55px 10px 55px;
  margin: 26px 24px 26px 0;
}

.popular-brands-btn {
  display: block;
  float: right;

  padding: 10px 70px 10px 70px;
  margin: 23px 24px 26px 0;
}

.products-item {
  position: relative;

  display: inline-block;
  margin-left: 19px;
  margin-bottom: 21px;
  width: 218px;
  height: 316px;
  vertical-align: bottom;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: bold;
  text-align: center;

  border: 1px solid #e5e5e5;
}


.new::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;

  width: 60px;
  height: 59px;

  background: url("../img/new.png")
}

.products-item:nth-child(4n+1) {
  margin-left: 0;
}

.products-item-hidden {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 218px;
  height: 87px;
  padding: 45px 0;


  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans","Tahoma",sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.products-item:hover .products-item-hidden {
  display: block;
}

.new:hover::after {
  display: none;
}

.products-item:hover {
  box-shadow:
  3px 8px 25px 0 rgba(41, 52, 73, 0.3),
  -3px 8px 25px 0 rgba(41, 52, 73, 0.3);
  opacity: 1;
}

 .item-buy,
 .item-bookmark {
  display: block;
  margin: 0 auto 10px;

  font-size: 14px;
  line-height: auto;
  font-family: "Cuprum",'Tahoma',sans-serif;
  text-decoration: none;
  text-transform: uppercase;

  background: #63a63e;
  border-radius: 3px;
}

 .item-buy {
  position: relative;

  width: 135px;
  padding: 11px 0 8px 0;

  box-shadow: 0 3px 0 0 #367315;
  color: #ffffff;
}

.item-bookmark {
  width: 129px;
  padding: 7px 0;

  color: #32425c;
  background: #ffffff;
  border: 3px solid #63a63e;
}

.item-buy:hover {
  background: #5fbb2d;
}

.item-buy:active {
  background: #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.item-buy::before {
  left: 12px;
  top: 10px;
}

.item-bookmark:hover {
border: 3px solid #32425c;
}

.item-bookmark:active {
color: #d0d2d6;
border: 3px solid #c1c6ce;
}


.products-item h2 {
  padding: 0 24px 0 25px;
  margin-top: 10px;

  font-size: 18px;
  line-height: 20px;
  font-family: "Pt Sans", "Tahoma", sans-serif;
}

.products-item-image {
  position: relative;

  width: 218px;
  height: 168px;
}

.products-item-image > img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
  overflow: hidden;
}

.products-item:nth-child(2) .products-item-image > img {
  top: 50%;
  left: 48%
}

.products-item:nth-child(3) .products-item-image > img {
  top: 50%;
  left: 46%
}

.products-item:nth-child(4) .products-item-image > img {
  top: 50%;
  left: 45%
}

.old-price {
  display: block;
  min-height: 20px;
  margin-top: 13px;
  margin-bottom: 5px;

  text-decoration: line-through;
  color: #999999;
}

.buy-btn {
  position: relative;

  display: block;
  float: left;

  width: 80px;
  padding-right: 4px;
  padding-left: 37px;
  margin-left: 43px;

  text-align: left;
  font-size: 17px;
  line-height: auto;
  font-family: "Pt Sans", "Tahoma", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.buy-btn:hover,
.buy-btn:active {
  background: #ee3643;
}

.buy-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 1;
  width: 38px;
  height: 38px;

  background-color: #ee3643;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.69);
  -webkit-transform: rotate(-45deg) scale(0.69);
  -o-transform: rotate(-45deg) scale(0.69);
  -moz-transform: rotate(-45deg) scale(0.69);
}

.popular-brands-list {
  padding-bottom: 63px;

  font-size: 0;
  line-height: 0;
}

.brand-item {
  position: relative;

  display: inline-block;
  margin: 0 19px 20px 0;
  width: 218px;
  height: 143px;
  vertical-align: top;

  border: 1px solid #e5e5e5;
}

.brand-item:nth-child(4n) {
  margin-right: 0;
}

.brand-item img {
  position: absolute;
  top: 48%;
  left: 50%;

  transform: translate(-50%,-50%);
}

.brand-item:nth-child(4) > img {
  top: 43%;
  left: 52%;
}

.brand-item:nth-child(8) > img {
  top: 45%;
  left: 52%;
}

.brand-item:hover {
box-shadow:
  3px 8px 25px 0 rgba(41, 52, 73, 0.3),
  -3px 8px 25px 0 rgba(41, 52, 73, 0.3);
  opacity: 1;
}


.brand-item:active {
  box-shadow:
    3px 5px 10px 0 rgba(41, 52, 73, 0.5),
    -3px 5px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
  }

.main-center {
  padding: 24px 0 5px;

  background: #f2f6f8
}

.service > h2 {
  margin: 0;
  padding: 45px 0 28px;

  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;

  color: #000000;
  background: #f2f6f8;

}

.service-slider::after{
  content: "";
  position: absolute;
  z-index: 70;
  top: -45px;
  left: 230px;

  width: 15px;
  height: 284px;
  background: url("../img/darken.png") no-repeat;
}

.service p {
 width: 400px;

 font-size: 13px;
 line-height: 24px;
 font-family: "PT Sans", "Tahoma", sans-serif;

}

.service > p {
 margin: 0;
 padding-left: 0;
 padding-bottom: 67px;
}

.service-slider {
  position: relative;

  padding-top: 5px;
  height: 279px;
}

.service-slider::after {
  content: "";
  position: absolute;
  z-index: 70;
  top: -45px;
  left: 230px;

  width: 15px;
  height: 284px;
  background: url("../img/services/darken.png") no-repeat;
}

.service-slider-controls {
  position: relative;

  float: left;
  width: 240px;
  height: 180px;
}

.service-slider-inner {
  float: left;
  width:640px;
  margin-left: 60px;
}

.service-slider-controls label {
  display: inline-block;
  width: 218px;
  padding: 14px 0 15px 22px;

  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum","Tahoma",sans-serif;
  text-align: left;
  font-weight: bold;

  cursor: pointer;
  color: #ffffff;
  background-color: #32425c;
  box-shadow:
    0 -1px 0 0 #405069,
    0 1px 0 0 #293449;
}

.service-slider-controls label:hover {
  background: #293449;
}

.service-slide > h2{
  margin: 2px 0 29px 0;
  padding-left: 20px;

  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;

  color: #32425c;
}

.delivery p {
  width: 275px;
  margin-left: 20px;
}

.guarantee p {
  width: 380px;
  margin-left: 20px;
}

.credit p {
  width: 280px;
  margin-left: 20px;
}

.credit-btn {
  margin-top: 31px;
  padding: 10px 45px 10px 44px;
}

.service-slide {
  display: none;
  width: 640px;
  padding-bottom: 124px;
}

.delivery {
  background: url("../img/services/delivery.png") no-repeat;
  background-position: 172px 18px;
}

.delivery p:nth-child(3) {
  width: 173px;
}

.guarantee {
  background: url("../img/services/guarantee.png") no-repeat;
  background-position: 100% 5px;
}

.credit {
  background: url("../img/services/credit.png") no-repeat;
  background-position: 100% 4px;
}

#service-btn-1:checked ~ .service-slider-controls  label[for="service-btn-1"],
#service-btn-2:checked ~ .service-slider-controls label[for="service-btn-2"],
#service-btn-3:checked ~ .service-slider-controls label[for="service-btn-3"]{
  background-color: #ffffff;
  color: #32425c;
  box-shadow:
    0 -1px 0 0 #ffffff,
    0 1px 0 0 #ffffff;
}

#service-btn-1:checked ~ .service-slider-inner .delivery,
#service-btn-2:checked ~ .service-slider-inner .guarantee,
#service-btn-3:checked ~ .service-slider-inner .credit{
    display: block;
}

.main-bottom {
  padding-top: 72px;
  padding-bottom: 85px;

  background: #ffffff;
}

.company-info {
  float: left;
  width: 528px;
}

.company-info h2 {
  margin-top: 4px;
  margin-bottom: 27px;


  font-size: 30px;
  line-height: auto;
  font-weight: normal;
  text-transform: uppercase;

  color: #000000;
}

.company-info p {
   margin-bottom: 24px;

   font-size: 13px;
   line-height: 24px;
   font-family: "PT Sans", "Tahoma", sans-serif;

   color: #000000;
}

.company-info > p:first-child {
  padding-bottom: 24px;
}

.company-info > p:nth-child(3) {
  margin-bottom: 12px;
  width: 387px;
}

.company-info ul {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 0 5px 0;


  font-size: 18px;
  line-height: 40px;

  list-style: none;
}

.company-info li {
  position: relative;

  margin: 0 0 0 36px;
}

.company-info li::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 19px;

  display: block;
  width: 25px;
  height: 2px;

  background: #fb565a;
}

.company-info-btn {
  padding: 12px 40px 10px;
}

.find-us {
  float: right;
}

.find-us h2,
.find-us p {
  margin-top: 4px;
  margin-bottom: 29px;

  line-height: 24px;
  font-size: 30px;
  font-weight: normal;

  color: #000000;
}

.find-us p {
  width: 179px;
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 13px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.mini-map {
  display: block;
  margin-bottom: 32px;
}

.write-us-btn{
  padding: 13px 58px 8px 64px;
}

.footer-top {
  padding-bottom: 50px;

  color: #ffffff;
  background: #32425c;
}

.footer-bottom + div {
  float: left;
}

.footer-contacts {
  float: left;
  width: 326px;
}

.footer-contacts h2 {
  height: 63px;
}

.logo-footer {
  padding: 16px 41px;
}

.footer-contacts p {
  float: left;
  margin-top: 33px;
  margin-left: 2px;
  width: 326px;

  font-size: 18px;
  line-height: 24px;
}

.footer-navigation {
  float: right;
  margin-top: 37px;
}

.footer-navigation ul {
  margin: 0;
  padding:  0;
  vertical-align: top;
  font-size: 0;
  line-height: 0;

  text-align: right;

  list-style: none;
}

.footer-navigation li {
  display: inline-block;
  vertical-align: top;
}

.footer-navigation a {
  padding: 0 30px;

  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
  text-decoration: none;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  text-decoration: none;
  color: #a4abb4;
}

.footer-navigation-down a:active {
  text-decoration: none;
  color: #766d65;
}


.footer-navigation .footer-navigation-down {
  margin-top: 33px;
}

.footer-navigation-down a {
  color: #f5ca7e;
}

.footer-navigation-up li:last-child a,
.footer-navigation-down li:last-child a {
  padding-right: 0;
}

.footer-navigation-up li:first-child a,
.footer-navigation-down li:first-child a {
  padding-left: 0px;
}

.footer-bottom {
  min-height: 107px;
  background: #293449;
}

.footer-trademark {
  float: left;
  margin: 0;
  padding: 37px 0 0 2px;
  width: 230px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: #ffffff;
}

.footer-trademark p {
  margin: 0;
}

.footer-social {
  float: left;
  margin: 37px 0 0 156px;
}

.social-btn-fb,
.social-btn-inst,
.social-btn-vk {
  position: relative;

  display: inline-block;
  width: 42px;
  height: 42px;

  line-height: 42px;

  text-decoration: none;
  background: #212a3a;
  border-radius: 50px;
}

.social-btn-fb:hover,
.social-btn-inst:hover,
.social-btn-vk:hover {
  background: #ee3643;
}

.social-btn-fb::before,
.social-btn-inst::before,
.social-btn-vk::before {
  content: "";
  position: absolute;

  top: 13px;
  left: 13px;
  width: 20px;
  height: 20px;

  background: url("../img/vk.png") no-repeat;
}

.social-btn-fb::before {
  top: 8px;
  left: 18px;

  background: url("../img/facebook.png") no-repeat;
}

.social-btn-inst::before {
  top: 9px;
  left: 14px;

  background: url("../img/instagramm.png") no-repeat;
}

.footer-mail {
  float: left;
  margin: 35px 0 0 115px;
}

.footer-mail p {
  margin: 0;

  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.footer-mail a:hover {
  text-decoration: underline;
}

.footer-mail a:active {
  color: #d13644;
}

.footer-copyright {
  float: left;
  margin: 35px 0 0 50px;
}

.footer-copyright p {
  margin: 0;

  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: #d13644;
}


.btn-academy {
  display: block;

  font-size: 16px;
  line-height: 18px;

  color: #ffd180;
  text-decoration: none;
}

.modal-write-us,
.modal-add-product {
  display: none;
}

.hidden {
  display: none;
}

.modal-add-product,
.modal-write-us {
  position: relative;

  width: 620px;

  border-top: 7px solid #ee3643;
  background: #ffffff;
}

.close::after,
.close::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;

  width: 20px;
  height: 5px;

  background: #ee3643;
  border: none;
  cursor: pointer;

  transform: rotate(-45deg);
}

.close::before {
  transform: rotate(45deg);
}

.form-answer {
  margin: 23px 80px 0;
}

.modal-write-us label {
  float: left;

  color: #000000;
}

.modal-write-us input[type=text],
.modal-write-us label {
  line-height: 18px;
  outline: none;
}

.form-answer span,
.modal-write-us label {
  font-size: 18px;
}

input[type=text] {
  padding: 8px 2px 10px 8px;
}

.modal-write-us input[type=text] {
  margin: 0 20px 17px 0;
  padding-left: 14px;
  width: 200px;

  padding-left: 14px;

  font-size: 13px;
  font-family: "PT Sans","Tahoma",sans-serif;
  text-align: left;

  color: #999999;
  background: #ffffff;
  border: 2px solid #999999;
  border-radius: 5px;
}

.form-btn {
  padding: 37px 0;
  background: #f1f1f1;
}

.form-btn .btn {
  width: 460px;
  margin-left: 80px;
  padding: 11px 50px 8px;

  font-size: 14px;
  outline: 0;
  border: 0;
}

.modal-write-us textarea {
  margin-bottom: 24px;
  padding: 5px 0 0 12px;

  font-size: 13px;
  font-family: "PT Sans","Tahoma",sans-serif;

  color: #a9a9a9;
  border: 3px solid #d7dcde;
}

.modal-write-us textarea {
  border-radius: 5px;
}

.modal-add-product .icon {
  position: relative;

  display: inline-block;
  margin: 47px 32px 50px 80px;
  width: 66px;
  height: 66px;

  line-height: 42px;
  vertical-align: middle;
  text-decoration: none;
  background: #693;
  border-radius: 50px;
}

.icon + span {
  display: inline-block;
  vertical-align: middle;

  font-size: 30px;
}

.add-product-buttons {
  padding: 48px 0 46px;

  text-align: center;
  font-size: 0;
  line-height: 0;
  background: #f1f1f1;
}

.add-product-buttons .btn {
  padding: 11px 60px;
  margin-right: 19px;

  font-size: 14px;
}

.add-product-buttons a:last-child {
  padding: 11px 45px 11px 47px;
  margin-right: 0;

  color: #000000;
  background: #ffffff;
}

.loged-in {
  position: relative;
  float: left;
  padding: 12px 0 14px 46px;
  margin: 47px 0 0 3px;


  font-size: 21px;
  line-height: 18px;

  text-decoration: none;

  color: #000000;
  background-color: #ffffff;
}

.loged-in::before{
  content: "";
  position: absolute;
  left: 15px;

  width: 20px;
  height: 17px;

  background: url("../img/sprites.png") no-repeat;
  background-position: -76px -30px;
}

.loged-in:hover::before {
  background-position: -99px 0;
}

.loged-in:active::before {
  background-position: -76px -30px;
}

.log-out {
  float: left;
  margin-top: 60px;
  margin-left: 41px;


  width: 21px;
  height: 17px;

  background: url("../img/sprites.png") no-repeat;
  background-position: -259.0000305175781px -263.00001525878906px;
}

.log-out:hover {
  background-position: -318.0000305175781px -263.00001525878906px;
}

.log-out:active {
  background-position: -259.0000305175781px -263.00001525878906px;
}

.user-info {
  float: left;
  margin-top: 8px;

  font-size: 0;
  line-height: 0;
}

.my-orders {
  display: inline-block;
  padding-left: 19px;

  font-size: 16px;
  line-height: 18px;

  color: #32425c;
  background: #f2f6f8;
}

.my-cabinet {
  position: relative;
  display: inline-block;
  padding-left: 12px;

  font-size: 16px;
  line-height: 18px;

  background: #f2f6f8;
  color: #32425c;
}

.dot {
  display: inline-block;
  margin-left: 15px;
  width: 5px;
  height: 5px;
  margin-left: 15px;

  background: #32425c;
  border-radius: 50px;
}

.white {
  background: #ffffff;
}

.breadcrumbs{
  display: inline-block;
  padding: 20px 0 10px 0;
  margin: 0;
}

.breadcrumbs a,
.breadcrumbs span {
  position: relative;

  float: left;
  margin-right: 39px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Tahoma",sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.breadcrumbs a:first-child span {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 12px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -31px -183.00001525878906px;
  opacity: 1;
}

.breadcrumbs a:nth-child(3) {
  margin-right: 46px;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 12px;
  left: 72px;
  top: 0;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -6px -184.00001525878906px;
  opacity: 1;
}

.breadcrumbs a:nth-child(3)::after {
  left: 99px;
}

.breadcrumbs a:first-child span{
  margin: 0;
  padding: 0;
  width: 15px;
  height: 12px;

  background: url("../img/sprites.png")  no-repeat;
  background-position: -31px -183.00001525878906px;
  opacity: 1;
}

.breadcrumbs a:first-child::after {
  left: 28px;
}

.catalog-title{
  padding: 30px 0 28px 28px;
  margin-bottom: 21px;

  font-weight: normal;
  text-transform: uppercase;

  color: #32425c;
  background: #f2f6f7;
}

.filter {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.filter-title{
  padding: 5px 0 5px 19px;

  font-size: 13px;
  font-weight: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;

  background: #f7f3ec;
}

.filter-price h3 {
  margin-top: 17px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
}

.range-controls {
  position: relative;

  height: 80px;
  margin: 16px 0 15px;
  padding: 0 20px;
  overflow: hidden;

  background: #f7f3ec;
}

.scale {
  height: 2px;
  margin-top: 43px;

  background: #d7dcde;
}

.bar {
  width: 160px;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 34px;
  left: 20px;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 0 0 #d4d1cb;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls {
  margin-bottom: 24px;
  color: #000000;
}

.price-controls input[type=text] {
  width: 85px;
  padding: 10px 2px 10px 8px;;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans","Tahoma",sans-serif;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.price-controls span {
  margin-left: 7px
}

.price-max {
  margin-left: 3px;
}

.products {
  float: left;
}

.line {
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  border-bottom-width: 0;
}

.filter-producer h2,
.filter-energy h2 {
  margin: 22px 0;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.filter-producer input[type=checkbox],
.filter-energy input[type=radio] {
  display: none;
}

.filter-producer label,
.filter-energy label {
  position: relative;
  display: block;
  margin-bottom: 23px;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Tahoma", sans-serif;

  text-transform: uppercase;
}

.filter-producer label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 23px;
  height: 23px;

  background: url("../img/sprites.png") no-repeat;
  background-position: -255.00001525878906px -177.00001525878906px;
}

.filter-producer label:hover::before {
  background-position: -55px -221px;
}

.filter-producer label:active::before {
  background-position: -8px -220px;
}

.filter-producer label::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 27px;
  height: 23px;

  background: url("../img/sprites.png") no-repeat;
  background-position: -299px -176px;
}

#checkbox1:checked ~ label[for="checkbox1"]::after,
#checkbox2:checked ~ label[for="checkbox2"]::after,
#checkbox3:checked ~ label[for="checkbox3"]::after,
#checkbox4:checked ~ label[for="checkbox4"]::after,
#checkbox5:checked ~ label[for="checkbox5"]::after {
  display: block;
}

#checkbox1:checked ~ label[for="checkbox1"]::before,
#checkbox2:checked ~ label[for="checkbox2"]::before,
#checkbox3:checked ~ label[for="checkbox3"]::before,
#checkbox4:checked ~ label[for="checkbox4"]::before,
#checkbox5:checked ~ label[for="checkbox5"]::before {
  display: none;
}

.filter-producer label:hover::after {
  background-position: -153px -219px;
}

.filter-producer label:active::after {
  background-position: -105px -219px;
}

.filter-energy{
  margin-bottom: 77px;
}

.filter-energy label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;

  width: 25px;
  height: 25px;

  background: url("../img/sprites.png") no-repeat;
  background-position: -10.000015258789062px -258.00001525878906px;

}

.filter-energy label:hover::before{
  background-position: -109px -258.00001525878906px;
}

.filter-energy label:active::before{
  background-position: -56.00001525878906px -257.00001525878906px;
}

.filter-energy label::after{
  content: "";
  position: absolute;
  left: 0;
  top: -3px;

  display: none;
  width: 25px;
  height: 25px;

  background: url("../img/sprites.png") no-repeat;
  background-position:  -255px -218px;;
}

.filter-energy label:hover::after{
  background-position: -310px -219px;
}

.filter-energy label:active::after{
  background-position: -207px -220px;
}

#radio1:checked ~ label[for="radio1"]::after,
#radio2:checked ~ label[for="radio2"]::after {
  display: block;
}

#radio1:checked ~ label[for="radio1"]::before,
#radio2:checked ~ label[for="radio2"]::before {
  display: none;
}

.show-btn {
  padding: 11px 38px 8px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Tahoma",sans-serif;
  text-transform: uppercase;

  color: #000000;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  outline: none;
}

.catalog-products{
  float: left;
  width: 700px;
  min-height: 1202px;
  vertical-align: top;

  font-size: : 0;
  line-height: 0;
}

.sort-catalog {
  margin: 0 0 20px 0;
  padding: 9px 0;

  background: #f7f3ec;
  border-radius: 3px;

  font-size: 0;
  line-height: 0;
}

.sort-title,
.sort {
  display: inline-block;
  vertical-align: middle;
}

.sort-title {
  margin-right: 139px;
  padding-left: 19px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.sort {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 0;
  line-height: 0;
}

.sort a{
  display: inline-block;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Tahoma", sans-serif;

  color: #000000;
  text-decoration: none;
}

.sort li {
  float: left;
}

.sort li:first-child {
  margin-right: 71px;
}

.sort li:nth-child(2) {
  margin-right: 66px;
}

.sort li:nth-child(3) {
  margin-right: 39px;
}

.sort li:nth-child(4) {
    margin-right: 15px;
}

.arrow-up {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;

  background: url("../img/sprites.png") no-repeat;
  background-position: -55px -185px;
}

.arrow-up:hover {
 background-position: -102px -184px;
}

.arrow-up:hover {
  background-position: -81px -184px;
}

.arrow-down {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;

  background: url("../img/sprites.png") no-repeat;
  background-position: -135px -185px;
}

.arrow-down:hover {
  background-position: -154px -185px;
}

.arrow-down:active {
  background-position: -184px -185px;
}

.catalog-drill {
  font-size: 0;
  line-height: 0;
}

.catalog-products .catalog-item {
  margin-left: 0;
  margin-right: 19px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  margin-bottom: 59px;
}

.previous-page {
  display: inline-block;
  padding: 8px 14px 10px 16px;
  margin-right: 9px;


  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Tahoma",sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.current-page {
  color: #fef5f6;
  background: #ee3643;
}

.next-page {
  display: inline-block;
  padding: 10px 31px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial",sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
